
<%- include('include/header'); -%>

<div class="container mt-5">
 <div class="row">
  <div class="col-6">
    <a href="/admin/viewcategory" class="btn btn-block btn-info p-5 m-5" >
      VIEW CATEGORY
    </a>
  </div>
  <div class="col-6">
    <a href="/admin/viewproduct" class="btn btn-block btn-success p-5 m-5">
      VIEW PRODUCT
    </a>
  </div>
  <div class="col-6">
    <a href="/admin/viewproduct" class="btn btn-block btn-warning p-5 m-5">
      VIEW ORDERED
    </a>

  </div>
</div>

<%- include('include/footer') -%>