<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Upload with multer</title>
	<link rel="stylesheet" href="">
</head>
<body>
	
	<form action="/admin/upload" method="post" enctype="multipart/form-data">
		  <label for="file">
		  	Images
		  </label>
		
		 <input type="file" name="upfiles" id="file">
		 <button type="submit">ADD</button>
	</form>
</body>
</html>