   <div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-topbar header-transparent header-fixed">
	<div id="top-bar" class="top-bar">
	<div class="container">
		<div class="bottom-bar-border">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 top--contact hidden-xs">
					<ul class="list-inline mb-0 ">
						<li>
							<i class="lnr lnr-clock"></i><span>Mon - Fri  9.00 : 17.00</span>
						</li>
						<li>
							<i class="lnr lnr-phone-handset"></i> <span>(04) 491 570 110</span>
						</li>
					</ul>
				</div><!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-6 col-md-6 top--info text-right text-center-xs">
					<span class="top--login"><i class="lnr lnr-exit"></i><a href="/users/login">Login</a> / <a href="/users/register">Register</a></span>
					<span class="top--social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					<a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
					</span>
				</div><!-- .col-md-6 end -->
			</div>
		</div>
	</div>
</div>
	<nav id="primary-menu" class="navbar navbar-fixed-top">
		<div class="container">
			<div class="">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="logo" href="/">
					<img class="logo-light" src="http://demo.zytheme.com/hairy/assets/images/logo/logo-light.png" alt="Hairy Logo">
					<img class="logo-dark" src="http://demo.zytheme.com/hairy/assets/images/logo/logo-light.png" alt="Hairy Logo">
				</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-pos-right nav-bordered-right snavbar-left">
				<!-- Home Menu -->
<li class="has-dropdown active">
    <a href="/" class="dropdown-toggle menu-item">home</a>
 </li>
<!-- li end -->
<!-- shop  -->
<li class="has-dropdown">
    <a href="/shop.html"  class="dropdown-toggle link-hover" >Shop</a>
    
</li>
<!-- li end -->

<li class="has-dropdown">
    <a href="/gallery.html"  class="dropdown-toggle link-hover" >gallery</a>
    
</li>
<!-- about -->
<li class="has-dropdown">
    <a href="/about.html"  class="dropdown-toggle menu-item">About </a>
    
</li>
<!-- li end -->
<!-- contact-->
<li class="has-dropdown">
    <a href="/contact.html"  class="dropdown-toggle menu-item">Contact</a>
   
</li>

<!-- li end -->
</ul>
				<!-- Module Cart -->
<div class="module module-cart pull-left">
    <div class="module-icon cart-icon">
        <i class="lnr lnr-store"></i>
        <span class="title">shop cart</span>
        <!-- quantity -->
        <label class="module-label">
                     
         </label>
        <!-- end quantity -->
    </div>
    <div class="module-content module-box cart-box">
        <div class="cart-overview">
            <ul class="list-unstyled">
                <li>
                    <a href="#">
						<img class="img-responsive" src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/1.jpg" alt="product"/>
					</a>
                    <div class="product-meta">
                        <h5 class="product-title"><a href="#">Gel Cream</a></h5>
                        <p class="product-price">1 × $7.50</p>
                    </div>
                    <a class="cart-cancel" href="#">cancel</a>
                </li>
                <li>
                    <a href="#">
						<img class="img-responsive" src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/2.jpg" alt="product"/>
					</a>
                    <div class="product-meta">
                        <h5 class="product-title"><a href="#">Hair Dryer</a></h5>
                        <p class="product-price">2 × $35.00</p>
                    </div>
                    <a class="cart-cancel" href="#">cancel</a>
                </li>
                <li>
                    <a href="#">
						<img class="img-responsive" src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/3.jpg" alt="product"/>
					</a>
                    <div class="product-meta">
                        <h5 class="product-title"><a href="#">Beard Razor</a></h5>
                        <p class="product-price">1 × $39.00</p>
                    </div>
                    <a class="cart-cancel" href="#">cancel</a>
                </li>
            </ul>
        </div>
        <div class="cart-total">
            <div class="total-desc">
                Subtotal:
            </div>
            <div class="total-price">
                $100.50
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="cart--control">
            <a class="btn btn--primary btn--bordered btn--rounded btn--block" href="/cart">View Cart & Checkout</a>
        </div>
    </div>
</div>
<!-- .module-cart end -->
				<!-- Module Search -->
<div class="module module-search pull-left">
    <div class="module-icon search-icon">
        <i class="lnr lnr-magnifier"></i>
        <span class="title">search</span>
    </div>
    <div class="module-content module-fullscreen module--search-box">
        <div class="pos-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                        <form class="form-search">
                            <input type="text" class="form-control" placeholder="Search..">
                            <button class="btn" type="button"><i class="lnr lnr-magnifier"></i></button>
                        </form>
                        <!-- .form-search end -->
                    </div>
                    <!-- .col-md-8 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
        <a class="module-cancel" href="#"><i class="lnr lnr-cross"></i></a>
    </div>
</div>
<!-- .module-search end -->
				<!-- Module Cart -->
				<!-- <div class="module module-cart pull-left">
					<div class="module-icon">
						<a class="btn btn--white btn--bordered btn--rounded" href="#">Book Online</a>
					</div>
				</div>
 -->				<!-- .module-cart end -->
			</div>
			<!-- /.navbar-collapse -->
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

</header>
