<%- include('inc/header') -%>
    <!-- Document Wrapper
	============================================= -->
    <%- include('inc/navbar') -%>
 <!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="http://demo.zytheme.com/hairy/assets/images/page-titles/7.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--heading">
                        <h1>About Us</h1>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="index-3.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- Video #2
============================================= -->
<section id="video2" class="video-button video-button-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="heading heading-2 mb-30 pt-50">
                    <h2 class="heading--title">A traditional barbershop<br> with a modern twist. </h2>
                </div>
                <p>Propin ipsum dolor sit amet, consectetur adipisicing elited eiusmod tempor incididu ut labore et dolore magna aliquaut enim ad minim veniam quis nostrud.</p>
                <img src="http://demo.zytheme.com/hairy/assets/images/icons/signature.png" alt="signature">
            </div>
            <!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="video--content">
                    <div class="bg-section">
                        <img src="http://demo.zytheme.com/hairy/assets/images/background/4.jpg" alt="Background" />
                    </div>
                    <div class="video-overlay">
                        <div class="video--button">
                            <div class="pos-vertical-center">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
									<i class="fa fa-play"></i>
								</a>
                            </div>
                        </div>
                        <!-- .video--player end -->
                    </div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video2 end -->

<!-- Counter #1
============================================= -->
<section id="counter1" class="counter counter-1 bg-gray">
    <div class="container">
        <div class="row">
            <!-- count #1 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="count-box text-center">
                    <div class="count-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/icons/1.png" alt="count box">
                    </div>
                    <div class="counting">18</div>
                    <div class="count-title">Skilled Barbers</div>
                </div>
            </div>
            <!-- .col-md-3 end -->

            <!-- count #2 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="count-box text-center">
                    <div class="count-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/icons/7.png" alt="count box">
                    </div>
                    <div class="counting">140</div>
                    <div class="count-title">Happy Clients</div>
                </div>
            </div>
            <!-- .col-md-3 end -->

            <!-- count #3 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="count-box text-center">
                    <div class="count-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/icons/8.png" alt="count box">
                    </div>
                    <div class="counting">370</div>
                    <div class="count-title">Custom Haircuts</div>
                </div>
            </div>
            <!-- .col-md-3 end -->

            <!-- count #4 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="count-box text-center">
                    <div class="count-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/icons/9.png" alt="count box">
                    </div>
                    <div class="counting">16</div>
                    <div class="count-title">Years Experience</div>
                </div>
            </div>
            <!-- .col-md-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #counter1 end -->

<!-- Team #1
============================================= -->
<section id="team1" class="team team-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="text--center heading heading-2 mb-70">
                    <h2 class="heading--title">Skilled Barbers</h2>
                    <p class="heading--desc mb-0">Duis aute irure dolor in reprehenderit volupte velit esse cillum dolore eu fugiat pariatursint occaecat cupidatat non proident culpa.</p>
                    <div class="divider--line divider--center"></div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Member #1 -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="member">
                    <div class="member-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/team/grid/1.jpg" alt="member" />
                        <div class="member-overlay">
                            <div class="member-social">
                                <div class="pos-vertical-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- .memebr-ovelay end -->
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Ryan Printz</h5>
                        <h6>Barber</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
                <!-- .member end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Member #2 -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="member">
                    <div class="member-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/team/grid/2.jpg" alt="member" />
                        <div class="member-overlay">
                            <div class="member-social">
                                <div class="pos-vertical-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- .memebr-ovelay end -->
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Steve Martin</h5>
                        <h6>Barber</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
                <!-- .member end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Member #3 -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="member">
                    <div class="member-img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/team/grid/3.jpg" alt="member" />
                        <div class="member-overlay">
                            <div class="member-social">
                                <div class="pos-vertical-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- .memebr-ovelay end -->
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Bruce Sam</h5>
                        <h6>Barber</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
                <!-- .member end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
    </div>
</section>
<!-- #team4 end  -->

<!-- Testimonial #2
============================================= -->
<section id="testimonial2" class="testimonial testimonial-2 bg-overlay bg-overlay-dark bg-parallax text-center">
    <div class="bg-section">
        <img src="http://demo.zytheme.com/hairy/assets/images/background/3.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div id="testimonial-carousel" class="carousel carousel-dots carousel-white" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--body">
                            <p>“ It’s just brilliant. I will recommend Hairy to everyone I know! I’m really glad to these guys got Hairy out there. I’ve bought it now I think perhaps I should have invested. ”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta-content">
                            <h4>– Steve Martin</h4>
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--body">
                            <p>“Proin gravida nibh vel velit auctor aliquet aenean sollidin, lorem quis bibendum auctor nisi elit.”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta-content">
                            <h4>– Ryan Printz</h4>
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--body">
                            <p>“Proin gravida nibh vel velit auctor aliquet aenean sollidin, lorem quis bibendum auctor nisi elit.”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta-content">
                            <h4>- Steve Martin</h4>
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->

                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonial2 end -->

<!-- #blog end -->
<!-- Footer #5
============================================= -->
<footer id="footer" class="footer">
    <!-- Widget Section
	============================================= -->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
                    <div class="footer--widget-content">
                        <img class="mb-20" src="http://demo.zytheme.com/hairy/assets/images/logo/logo-light.png" alt="logo">
                        <p>Proin gravida nibh vel velit auctor aliquet anean lorem quis. bindum auctor, nisi elite conset ipsums sagtis id duis sed odio sit.</p>
                        <div class="work--schedule clearfix">
                            <ul class="list-unstyled">
                                <li>Monday - Friday <span>9.00 : 17.00</span></li>
                                <li>Saturday <span>9.00 : 15.00</span></li>
                                <li>Sunday <span>9.00 : 13.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-6 col-md-4 footer--widget-recent">
                    <div class="footer--widget-title">
                        <h5>Latest Posts</h5>
                    </div>
                    <div class="footer--widget-content">
                        <div class="entry">
                            <div class="entry--img">
                                <a href="#">
									<img src="http://demo.zytheme.com/hairy/assets/images/blog/thumb/5.jpg" alt="entry">
								</a>
                            </div>
                            <div class="entry--content">
                                <div class="entry--title">
                                    <a href="#">Essential barbering tips you need to know before you start</a>
                                </div>
                                <div class="entry--meta">
                                    <span>Nov 09, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- .entry end -->

                        <div class="entry">
                            <div class="entry--img">
                                <a href="#">
									<img src="http://demo.zytheme.com/hairy/assets/images/blog/thumb/4.jpg" alt="entry">
								</a>
                            </div>
                            <div class="entry--content">
                                <div class="entry--title">
                                    <a href="#">What are the 360 waves? and how you can get them</a>
                                </div>
                                <div class="entry--meta">
                                    <span>Oct 30, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- .entry end -->

                        <div class="entry">
                            <div class="entry--img">
                                <a href="#">
									<img src="http://demo.zytheme.com/hairy/assets/images/blog/thumb/3.jpg" alt="entry">
								</a>
                            </div>
                            <div class="entry--content">
                                <div class="entry--title">
                                    <a href="#">Discover what is the best haircut for your face shape?</a>
                                </div>
                                <div class="entry--meta">
                                    <span>Oct 19, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- .entry end -->
                    </div>
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-6 col-md-4 footer--widget-contact">
                    <div class="footer--widget-title">
                        <h5>Get In Touch</h5>
                    </div>
                    <div class="footer--widget-content">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-map-marker"></i> 1220 Petersham town, Wardll St New South Wales Australia PA 6550.</li>
                            <li><i class="fa fa-phone"></i> (04) 491 570 110</li>
                            <li><i class="fa fa-envelope-o"></i> contact@zytheme.com</li>
                        </ul>
                        <form class="form--newsletter">
                            <input type="email" name="email" class="form-control" placeholder="Email address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <!-- .col-md-4 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <!-- Copyrights
	============================================= -->
    <div class="footer--copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <span>&copy; 2017, All rights reserved.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                    <div class="social">
                        <a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="share-pinterest" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </div>
</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<%- include('inc/footer') -%>